*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: rgb(55, 119, 156);
  width: 100vw;
  height: 10vh;
  text-align: left;

}

.home{
  position: relative;
  top: 4vh;
  left: 4vw;
  font-weight: 800;
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 90vh;
}

.userBox{
  height: 66vh;
  width: 80vw;
  background-color: white;
}

.numUser{
  position: relative;
  left: 37vw;
  top: 3vh;
}

.user-details{
  text-align: left;
  margin-left: 10vw;
}

.user-name{
  font-size: x-large;
  text-decoration: underline rgb(55, 119, 156);
  margin-bottom: 6vh;
  margin-top: 6vh;
}

.fav-movies{
  margin-top: 4vh;
}

.list{
  margin-left: 4vw;
}

.button-box{
  display: flex;
  justify-content: space-between;
  margin-top: 7px;

  width: 80vw;
  height: 50px;
}

.sub-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 20%;

}

.mid-box{
  display:flex;
  justify-content: space-between;
  width:30vw;
  height: 100%;
}

.interior-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  background-color: blue;
  width: 30%;
  height: 100%;
}